.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 160px;
  margin: 20px auto;
  background-color: rgb(138, 55, 100);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
